html {
	box-sizing: border-box;
}*,
*::after,
*::before {
	box-sizing: inherit;
}
 
body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100vh;
    width: 100%;
    font-size: 24px;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("./image/city-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items:flex-start;
    height: 100vh;
    color: #fff;
  } 

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;

}
  
ul {
	list-style: none;
	padding-left: 0;
	margin: 0px, 20px, 0px, 0px;
}

li:not(:first-child) {
    margin-top: 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 320px;
}

.search-form {
    margin-top: 20px;
    margin-left: 20px;
}
.form-input{
   
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: white;
     
}

